root = true

[*.lua]
indent_style = space
indent_size = 2
# [align]

align_call_args = false

align_function_params = true

# true/false or always
align_continuous_assign_statement = true

align_continuous_rect_table_field = true

align_continuous_line_space = 2

align_if_branch = false

# option none / always / contain_curly/
align_array_table = true

align_continuous_similar_call_args = false

align_continuous_inline_comment = true
# option none / always / only_call_stmt
align_chain_expr = none
